<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RedCom - Homepage</title>
    </head>
    <body>
        <h1>Welcome to redCom</h1>

        <h2>Posts</h2>
        <% post.forEach((postingan) => { %>
        <div>
            <h3><%= postingan.content %></h3>
            <p>Author: <%= postingan.user_id.username %></p>
        </div>
        <% }) %>
    </body>
</html>
